<main class="privacy">
    <h1 class="privacy_title">{{ 'privacy.title' | translate }}</h1>
    <section class="privacy_block">
        <h2>{{ 'privacy.s1Title' | translate}}</h2>
        <p>{{ 'privacy.s1P1' | translate }}</p>
        <p>{{ 'privacy.s1P2' | translate }}</p>
        <p>{{ 'privacy.s1Mail' | translate }}: <a href="mailto:c.scherlipp@web.de">c.scherlipp@web.de</a></p>
    </section>

    <section class="privacy_block">
            <h2>{{ 'privacy.s2Title' | translate }}</h2>
            <p>{{ 'privacy.s2P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s3Title' | translate }}</h2>
        <p>{{ 'privacy.s3P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s4Title' | translate }}</h2>
        <p>{{ 'privacy.s4P1' | translate }}</p>
        <p>{{ 'privacy.s4P2' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s5Title' | translate }}</h2>
        <p>{{ 'privacy.s5P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s6Title' | translate }}</h2>
        <p>{{ 'privacy.s6P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s7Title' | translate }}</h2>
        <p>{{ 'privacy.s7P1' | translate }}</p>
        <p>{{ 'privacy.s7P2' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s8Title' | translate }}</h2>
        <p>{{ 'privacy.s8P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s9Title' | translate }}</h2>
        <p>{{ 'privacy.s9P1' | translate }}</p>
        <p>{{ 'privacy.s9P2' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s10Title' | translate }}</h2>
        <p>{{ 'privacy.s10P1' | translate }}</p>
    </section>

    <section class="privacy_block">
        <h2>{{ 'privacy.s11Title' | translate }}</h2>
        <p>{{ 'privacy.s11P1' | translate }}</p>
    </section>
    <a class="privacy_back" routerLink="/">{{ 'privacy.back' | translate }}</a>
</main>
