// Color
$basic-bg-color : #0D1827;
$card-header-color : #24384F;
$card-border-color : #314967;
$field-bg-color : #0C1623;
$field-border-color : #395572;
$Separator-lines-color : #2C4054;
$accent-blue : #9AC1F1;
$accent-sand : #D7C3AF;
$text-color : #F5F5F5;
$text-accent : #0D1827;
$photo-border-color : #83A3C3;
$light-sphere-blue : #6C91BF;
$light-sphere-sand :#D2C6B5;

// variable
$navbar-height : 6rem;