@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mix;

.main-content {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    border-bottom: 2px solid var.$Separator-lines-color;
}   

.about-me {
    position: relative;
    overflow: hidden;
    height: 30rem;

    @include mix.respond-below(900px) {
        flex-direction: column;
        height: auto;
        gap: 2.5rem;
        padding: 3rem 1.5rem;
    }
}

.skill-content {
    flex-direction: column;
    height: 40rem;
    color: var.$text-color;

    @include mix.respond-below(900px) {
        height: auto;
        padding: 2.5rem 0;
    }
}

.project-content {
    flex-direction: column;
    padding: 3rem 0;
    color: var.$text-color;

    @include mix.respond-below(1440px) {
        padding-inline: 2rem;
    }

    @include mix.respond-below(900px) {
        padding: 2.5rem 1.5rem;
    }
}

.contact-content {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    height: auto;
    padding: 3rem 0;
    color: var.$text-color;

    @include mix.respond-below(1440px) {
        padding-inline: 2rem;
    }

    @include mix.respond-below(900px) {
        padding: 3rem 1.5rem;
    }
}

.review-content {
    width: 100%;
    overflow: hidden;
    color: var.$text-color;
    border-bottom: 2px solid var.$Separator-lines-color;
}