@use 'abstracts/variables' as var;

.main-content {
    width: 1440px;
    margin-inline: auto;
    display: flex;
}   


.about-me {
    height: 30rem;
    scroll-margin-top: var.$navbar-height;
}

.skill-content {
    flex-direction: column;
    height: 45rem;
    color: var.$text-color;
}