@use 'abstracts/variables' as var;

.main-content {
    width: 1440px;
    margin-inline: auto;
    display: flex;
    border-bottom: 2px solid var.$Separator-lines-color;
}   


.about-me {
    height: 30rem;
    scroll-margin-top: var.$navbar-height;
}

.skill-content {
    flex-direction: column;
    height: 40rem;
    color: var.$text-color;
}

.project-content {
    flex-direction: column;
    padding: 3rem 0;
    color: var.$text-color;
}

.contact-content {
    flex-direction: column;
    height: auto;
    padding: 3rem 0;
    color: var.$text-color;
    scroll-margin-top: var.$navbar-height;
}