*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 6rem;

    @media (max-width: 900px) {
        scroll-padding-top: 5rem;
    }
}

